@model IEnumerable<CarRentingSystem.ViewModel.CarBookingViewModel>

<table style="width: 100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                Booking From
            </th>
            <th>
                Booking To
            </th>
            <th>
                Car Number
            </th>
            <th>
                Number of Members
            </th>
            <th>
                Number of days
            </th>
            <th>
                Car Price
            </th>
            <th>
                Total Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        { 
        <tr>
            <td>
                @item.CustomerName
            </td>
            <td>
                @item.CustomerAddress
            </td>
            <td>
                @item.CustomerPhoneNumber
            </td>
            <td>
                @item.BookingFrom.ToString("yyyy-MM-dd")
            </td>
            <td>
                @item.BookingTo.ToString("yyyy-MM-dd")
            </td>
            <td>
                @item.CarNumber
            </td>
            <td>
                @item.NumberOfMembers
            </td>
            <td>
                @item.NumberOfDays
            </td>
            <td>
                @item.CarPrice.ToString("#,##0.00")
            </td>
            <td>
                @item.TotalAmount.ToString("#,##0.00")
            </td>
        </tr>
        }
    </tbody>
</table>